.container-fluid {
  background-color: #696969;
}

.finley {
  color: deepskyblue;
  font-weight: bolder;
  font-size: 1.7em;
}

.kev {
  font-size: 1.7em;
  color: whitesmoke;
}

.flol {
  color: lightgrey;
  font-size: 15px;
}

body {
  font-size: 17px;
}

.list {
  color: deepskyblue;
}
img {
  border-radius: 20px 0 20px 0;
  border: solid deepskyblue 1px;
}
.panel-heading {
  border-radius: 20px 0 0 0;
}
.panel-info {
  border-radius: 20px 0 20px 0;

}
.panel-success {
  border-radius: 20px 0 20px 0
}
.panel-warning {
  border-radius: 20px 0 20px 0
}
