.container-fluid {
  background-color: #696969;
}
.finley {
  color: deepskyblue;
  font-weight: bolder;
  font-size: 1.7em;
}
.kev {
  font-size: 1.7em;
  color: whitesmoke;
}
.flol {
  color: lightgrey;
  font-size: 15px;
}
body {
  font-size: 17px;
}
.list {
  color: deepskyblue;
}
