.container-fluid {
  background-color: #696969;
}

.finley {
  color: deepskyblue;
  font-weight: bolder;
  font-size: 1.7em;
}

.kev {
  font-size: 1.7em;
  color: whitesmoke;
}

.flol {
  color: white;
  font-size: 15px;
}

body {
  font-size: 17px;
}

.list {
  color: deepskyblue;
}
img {
  border-radius: 20px 0 20px 0;
  border: solid deepskyblue 1px;
}
.panel-heading {
  border-radius: 20px 0 0 0;
}
.panel-info {
  border-radius: 20px 0 20px 0;

}
.panel-success {
  border-radius: 20px 0 20px 0;
}
.panel-warning {
  border-radius: 20px 0 20px 0;
}
.well {
  background-color: gainsboro;
}
.panel-body {
  background-image: url("https://s-media-cache-ak0.pinimg.com/236x/04/81/9c/04819cbc3da36e6542fcbd54a2723649.jpg");
}
body {
  background-image: url("https://i.ytimg.com/vi/n1zaspW_1fs/maxresdefault.jpg");
}
